@using ToDoListProject.Pages
@inject ToDoService ToDoService
@inject ToDoListManager ToDoListManager
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ToDoListProject</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lists">
                <span class="oi oi-list" aria-hidden="true"></span> Manage Lists
            </NavLink>
        </div>

        @foreach (var list in ToDoService.GetAllLists())
        {
            <div class="nav-item px-3">
                <NavLink href="@($"/list/{list.Id}")" class="nav-link">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> @list.ListName
                </NavLink>
            </div>
        }

        <div class="nav-item px-3">
            <button class="btn btn-primary" @onclick="ToDoListManager.AddList">Add List</button>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}