@model ToDoList.Models.ToDo

@{
    ViewData["Title"] = "Index";
}

<div id="tableDiv"></div>

<div id="toDoCreateForm">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AJAXCreate" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#tableDiv">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/BuildTable.js"></script>
}