@model ToDoList.Models.ToDo

@{
    ViewData["Title"] = "Index";
}

<div class="navbar">
    <div class="container">
        <h2 class="title">My to do list</h2>

        <div class="nav">
            <ul>
                <li>
                    <a>. . .</a>

                    <ul>
                        <li>
                            <a>Change list name</a>
                        </li>
                        <li>
                            <form asp-action="AJAXDeleteAllChecked" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#tableDiv">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <input type="submit" value="Remove all checked items" class="btnDeleteAll" />
                                </div>
                            </form>
                            @* <a asp-action="AJAXDeleteAllChecked" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#tableDiv" class="btnDeleteAll">Remove all checked items</a> *@
                        </li>
                        <li>
                            <a asp-action="AJAXEditAll" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#tableDiv" class="btnCheckAll" data-id="1">Check all items</a>
                        </li>
                        <li>
                            <a asp-action="AJAXEditAll" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#tableDiv" class="btnCheckAll" data-id="0">Uncheck all items</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="tableDiv"></div>

<div id="toDoCreateForm">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AJAXCreate" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#tableDiv">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <input asp-for="Description" class="form-control" id="myInput" onkeyup="HandleKeyPress(event)" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/BuildTable.js"></script>
    <script src="~/js/InputRefresh.js"></script>
    <script src="~/js/DeleteCheckedToDoes.js"></script>
    <script src="~/js/CheckboxAll.js"></script>
}