html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Styling for todo items*/
.CompletedToDo {
    text-decoration: line-through;
    color: grey;
    font-style: italic;
}

/* Style for the draggable element */
[draggable="true"] {
    cursor: move;
}

/* Style for the dragged element while being dragged */
[draggable="true"]:active {
    opacity: 0.7;
}

/* Style for the drop target */
[ondragover] {
    border: 2px dashed #007BFF; /* Change the border color as needed */
}

/* Style for the drop target when the element is being dragged over it */
[ondragover]:active {
    background-color: #f0f0f0; /* Change the background color as needed */
}