@page "/list/{ListId}"
@inject ToDoService ToDoService
@inject NavigationManager NavigationManager
@using ToDoListProject.Models

<div>
    @if (ToDoListModel == null)
    {
        <p>List not found!</p>
    }
    else
    {
        <div class="alert alert-light" role="alert">
            <h3 class="text-center">@ToDoListModel.ListName</h3>
        </div>

        <div class="container-fluid">
            <div class="row">
                <form @onsubmit="AddNewItem" class="input-group">
                    <div class="col-10 p-0">
                        <input type="text" class="form-control" placeholder="New item..." @bind="_newToDoItem.Description" />
                    </div>
                    <div class="col-2 p-0">
                        <button type="submit" class="btn btn-secondary w-100">Add</button>
                    </div>
                </form>
            </div>
        </div>

        <br />

        //In here also itmes from list with the same ID as ListId
        <ul class="list-group">
            <SortableList Items="_uncompletedToDoItems" OnReorder="HandleReorder">
                <ItemTemplate Context="toDo">
                    <ToDoItemComponent Item="toDo" OnUpdate="UpdateItemCompletionStatus" OnDelete="HandleDeleteItem" />
                </ItemTemplate>
            </SortableList>

            @foreach (ToDoItem toDoItem in _completedToDoItems)
            {
                <ToDoItemComponent Item="toDoItem" OnUpdate="UpdateItemCompletionStatus" OnDelete="HandleDeleteItem" @key="toDoItem.Id" />
            }
        </ul>
    }
</div>