@inherits ComponentBase

<li class="list-group-item">
    @if(!Item.Completed)
    {
        <span class="toDo-drag-handle"><i class="fa-solid fa-grip-vertical"></i></span>
    }

    <input class="form-check-input me-1" type="checkbox" checked="@Item.Completed" @onchange="HandleCheckboxChange" />

    @if(_isEditing)
    {
        <form @onsubmit="SaveEdit">
            <input class="form-control d-inline w-auto" @ref="_editInputElement" @bind="_editDescription" @onfocusout="SaveEdit" />
        </form>
        <button class="btn btn-danger ms-2" @onclick="DeleteItem">X</button>
    }
    else
    {
        <label class="form-check-label" style="@GetTextDecorationStyle()" @onclick="EditDescription">@Item.Description</label>
    }
</li>