@page "/toDoList"
@using ToDoListProject.Models

<div>
    <div class="alert alert-light" role="alert">
        <h3 class="text-center">Todo List</h3>
    </div>

    <form @onsubmit="HandleSubmit" class="input-group">
        <input type="text" class="form-control" placeholder="New item..." @bind="_newToDoItem.Description" />
        <button type="submit" class="btn btn-secondary w-100">Add</button>
    </form>

    <br />

    <ul class="list-group">
        @foreach (ToDoItem toDoItem in _toDos)
        {
            <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" @bind="toDoItem.Completed" />
                <label class="form-check-label" for="secondCheckbox" style="@GetTextDecorationStyle(toDoItem)">@toDoItem.Description</label>
            </li>
        }
    </ul>
</div>